node_modules/
jspm_packages/
web_folders/

.next/
out/

.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

logs/
*.log
